header#main-header {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	border-bottom: 2px solid mix(black, $secondary, 50%);
	padding-bottom: 1rem;
	margin-bottom: 1rem;

	$input-width: 10rem;

	#date {
		align-self: end;

		small {
			font-style: italic;
			color: $secondary;
		}
	}

	h1 {
		$font-size: 4rem;
		font-weight: 100;
		font-size: $font-size;
		font-family: 'Bungee Inline', serif;
		transform: translateX(-#{$input-width/2});
		margin-left: auto;
		user-select: none;
		width: 100%;
		//text-align: center;
		height: $font-size;
		display: flex;
		//align-items: ;
		justify-content: center;
		align-items: center;

		span {
			&:hover {
				transform: translateY(5px);
				transition-duration: 0.2s;
			}

			&.empty {
				width: $font-size/4;
			}

			//height: $font-size;
			display: inline-block;
			//height: $font-size;
			transform: translateY(0px);
			transition: 0.3s transform ease-in-out;
		}
	}

	div#search {
		color: $secondary;
		display: inline-flex;
		flex-direction: row;

		&.active {
			input.hidden-input {
				transform: scaleX(1) translateX(-2px) !important;
				transition-duration: 0.2s;
				border: 2px solid black !important;
			}
		}

		input.hidden-input {
			margin-left: 1rem;
			transform: scaleX(0);
			transform-origin: left;
			width: $input-width;
			height: 1rem;
			padding: 10px 12px;
			border-width: 0;
			transition-property: transform, border-width;
			transition-duration: 1s;
			transition-timing-function: ease-in-out;
		}

		i {
			margin-left: 1rem;
		}
	}

	#hamburger {
		$gap: 4px;
		$size: 4px;
		$width: 2rem;

		width: $width;
		display: flex;
		flex-direction: column;

		&:hover {
			#top {
				transform: translateX(-3px);
			}

			#bottom {
				transform: translateX(3px);
			}
		}


		& > div {
			width: 100%;
			background-color: black;
			height: $size;
			border-radius: 3px;
		}

		#top {
			transition: transform 1s cubic-bezier(0.2, -2, 0.2, 2);
			margin-bottom: $gap;
		}

		#bottom {
			transition: transform 1s cubic-bezier(0.2, -2, 0.2, 2);
			margin-top: $gap;
		}
	}
}

#sub-header {
	padding-bottom: 1rem;
	border-width: 0;
	border-style: double;
	border-bottom-width: 3px;


	#grid {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;

		figure {

			&#stocks {
				border-left: 1px solid black;
				padding-left: 1rem;
			}

			&:hover {
				cursor: pointer;
			}

			img {
				object-fit: cover;
				width: 50px;
				height: 50px;
				margin-right: 5px;
			}

			display: flex;
			flex-direction: row;

			figcaption {
				p {
					font-size: 0.8rem;
				}
			}

			#stocks {
				display: flex;
				flex-direction: column;
				font-size: 0.7rem;

				.stock {
					p {
						&.p {
							color: green;

							&:after {
								content: '↜';
							}
						}

						&.m {
							&:after {
								content: '⇝';
							}

							color: red;
						}
					}

					display: flex;
					flex-direction: row;
					justify-content: space-between;

					header {
						font-weight: 600;
						margin-right: 5px;
						margin-left: 5px;
					}
				}
			}
		}
	}
}
