@import './styles/_vars.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	padding: 2rem 4rem 2rem 4rem;

	#click-catcher {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;

		&.active {
			display: block;
		}
	}
}

.hover-pointer {
	&:hover {
		cursor: pointer;
	}
}

@import './styles/nav.scss';
@import './styles/header.scss';
@import './styles/main.scss';

